/* RESET BÁSICO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: system-ui, Arial, sans-serif;
  background-color: #1e1e1e;
  color: #f2f2f2;
}

/* LAYOUT GENERAL */
#app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#body {
  flex: 1;
  padding: 2rem;
}

/* TITULOS */
h1,
h2 {
  color: #fff;
  margin-bottom: 1rem;
}

/* LINKS */
a {
  color: #9bb8ff;
  text-decoration: none;
}

a:hover {
  color: #c7d6ff;
}

/* BOTONES */
button {
  padding: 0.6rem 1.2rem;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #f2f2f2;
  cursor: pointer;
}

button:hover {
  background-color: #3a3a3a;
}

/* FOOTER */
#footer {
  padding: 1rem;
  background-color: #111;
  color: #bbb;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

/* 
   TARJETAS DE PRODUCTO */

.item-container {
  padding: 2rem;
  text-align: center;
}

.item-card {
  background-color: #252525;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 6px;
  width: 160px;
  text-align: center;
  margin: auto;
}

.item-card h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.item-card p {
  color: #ccc;
  margin-bottom: 0.7rem;
}

.item-card a {
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #1e1e1e;
  display: inline-block;
}

.item-card a:hover {
  background-color: #333;
}

/* CONTENEDOR LISTA + BUSCADOR */

.itemlist-container {
  padding: 1rem;
}

.itemlist-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.search-input {
  padding: 0.5rem;
  width: 100%;
  max-width: 280px;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #1c1c1c;
  color: #fff;
}

.search-input::placeholder {
  color: #888;
}

.dropdown {
  position: relative;
}

.dropdown-title {
  cursor: pointer;
  color: #9bb8ff;
}

/* Caja del menú */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #1d1d1d;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 6px;
  list-style: none;
  margin-top: 0.4rem;
  min-width: 150px;
}

.dropdown-menu li {
  padding: 0.3rem 0;
}

.dropdown-menu li a {
  color: #c7d6ff;
}

.dropdown-menu li a:hover {
  color: #fff;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown {
  padding: 0.3rem 0;
}

.item-img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.item-link {
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #1e1e1e;
  display: inline-block;
  color: #9bb8ff;
  margin-top: 0.5rem;
}

.item-link:hover {
  background-color: #333;
  color: white;
}
